<!doctype HTML>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>home</title>
	<link rel="stylesheet" type="text/css" href="./css/my_page.css">
</head>

<body>

	<header>
		<div class="example">
			<img src="./img/h_logo.jpg" class="logo">
		</div>		
	</header>

	<a href=""><img src="./img/アドレス帳のアイコン素材2.jpeg" class="icon1"></a>
	<a href=""><img src="./img/メールの無料アイコン.jpeg" class="icon2"></a>
	<a href=""><img src="./img/メールの無料アイコン.jpeg" class="icon3"></a>
	<a href=""><img src="./img/返信矢印1 (2).png" class="icon4"></a>
	<a href=""><img src="./img/時間経過のアイコン 2 (2).png" class="icon5"></a>
	<h2 class="renraku">連絡先一覧<br>登録・修正</h2>
	<h2 class="sousin">メール送信</h2>
	<h2 class="rireki">送信履歴</h2>

</body>

</html>