@charset "UTF-8";

header {
	display: flex;
	padding: 10px;
	border-bottom: 1px solid gray;
}

.logo {
	display: inline;
	z-index: 1;
}

.example p {
	display: inline;
	position: absolute;	
	left: 50%;
	-ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
	font-size: 20px;
	z-index: 2;
}

.home_icon1 {
	width: 150px;
	height: 150px;
	display: inline-block;
	position: absolute;
	top: 250px;
	left: 400px;
}

.home_icon2 {
	width: 150px;
	height: 150px;
	display: inline-block;
	position: absolute;
	top: 250px;
	left: 800px;
}

.sinki {
	position: absolute;
	top: 400px;
	left: 415px;
}

.log {
	position: absolute;
	top: 400px;
	left: 830px;
}




