@charset "UTF-8";

header {
	display: flex;
	padding: 10px;
	border-bottom: 1px solid gray;
}

.logo {
	display: inline;
}

.title {
	display: block;
	margin: auto;
	font-size: 20px;
}

.home_icon1 {
	width: 150px;
	height: 150px;
	display: inline-block;
}

.home_icon2 {
	width: 130px;
	height: 130px;
	display: inline-block;
}