<!doctype HTML>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>home</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>

<body>

	<header>
		<div class="example">
			<img src="./img/h_logo.jpg" class="logo">
			<p>トップページ</p>
		</div>
		
	</header>

	<a href=""><img src="./img/枠つきの羽根ペンのアイコン素材.png" class="home_icon1"></a>
	<a href=""><img src="./img/回転ロックアイコン3.png" class="home_icon2"></a>
	<h2 class="sinki">新規登録</h2>
	<h2 class="log">ログイン</h2>

</body>

</html>