<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>新規ユーザー登録</title>
</head>
<body>
<th:block th:fragment="dialogInputUserConfirm">
	<div id="inputUserConfirm" title="入力内容を確認" class="hidden">
		<table class="user confirm">
			<tr>
				<th>名前</th>
				<td>
					<span class="familyName"></span>
					<span class="firstName"></span>
				</td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td>
					<span class="mailAddress"></span>
				</td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td>
					<span class="password"></span>
				</td>
			</tr>
		</table>
	</div>
</th:block>
</body>
</html>